<h2 class="form-title">Nova Tarefa</h2>

<form (ngSubmit)="save()" class="form-container">
  <input
    [(ngModel)]="title"
    name="title"
    placeholder="Título"
    required
    class="form-input"
  />

  <textarea
    [(ngModel)]="description"
    name="description"
    placeholder="Descrição"
    class="form-textarea"
  ></textarea>

  <input
    type="date"
    [(ngModel)]="due_date"
    name="due_date"
    class="form-input"
    required
  />

  <button type="submit" class="form-button">Salvar</button>
</form>
